@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap');

body{
    margin: 0;
    text-align: center;
}

nav{
    display: flex;
    justify-content: space-between;
    padding: 20px 70px;
}

#nav-icon{
    width: 45px;
}

#nav-contact-btn{
    padding: 2px 20px;
    font-size: 15px;
    color: #209CEE;
    background-color: white;
    border: 1.75px solid;
    border-color: #209CEE;
    border-radius: 27px;
    height: 45px;
}

#nav-contact-btn:hover{
    background-color: #209CEE;
    color: white;
}

#container-1{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

h1{
    font-family: 'Open Sans', sans-serif;
    margin-top: 50px;
    margin-bottom: 0px;
    font-weight: 700;
    font-size: 40px;
}

p, .one-liner{
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}

#avatar-img{
    margin-top: 40px;
    height: 200px;
}

/* #avatar-like-img{
    height: 40px;
} */

#avatar-like-btn{
    background-color: white;

    padding: 5px;
    margin-top: 10px;
    padding: 2px 20px;
    font-size: 15px;
    color: #209CEE;
    background-color: white;
    border: 1.75px solid;
    border-color: #209CEE;
    border-radius: 27px;
    height: 45px;
}

#avatar-like-btn:hover{
    background-color: #209CEE;
    color: white;
}

#container-2{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #209CEE;
    margin-top: 30px;
    height: 600px;
    position: relative;
}

h3{
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    padding-top: 100px;
    font-size: 25px;
}

.white{
    color: white;
}

.about-para{
    color: white;
    padding: 0 20%;
    text-align: center;
}

#container-3{
    background-color: white;
    display: flex;
    justify-content: center;
    position: absolute;
    top: 1170px;
    left: 9.75%;
    /* align-self: center; */
    border-radius: 20px;
    width: 80vw;
}

#hobby-heading{
    color: black;
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 20px;
}

#hobby-1{
    border: 1px gray solid;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    padding-right: 30px;
    padding-left: 30px;
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 33%;
    text-align: center;
}

#hobby-2{
    border: 1px gray solid;
    border-left: 0px;
    padding-right: 30px;
    padding-left: 30px;
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 33%;
    text-align: center;
}

#hobby-3{
    border: 1px gray solid;
    border-left: 0px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    padding-right: 30px;
    padding-left: 30px;
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 33%;
    text-align: center;
}

#hobby-img{
    max-height: 100px;
}

#container-3-1{
    display: flex;
}

#container-4{
    padding: 150px;
    text-align: center;
    height: 570px;
}

#email-link{
    text-decoration: none;
    color: #209CEE;
}

#projects-top-heading{
    font-size: 30px;
}

#container-5{
    margin-top: 230px;
    padding-bottom: 40px;
}

#collab-heading{
    font-weight: 300;
}

#collab-btn{
    padding: 2px 20px;
    font-size: 15px;
    color: #209CEE;
    background-color: white;
    border: 1.75px solid;
    border-color: #209CEE;
    border-radius: 27px;
    height: 45px;
}

#collab-btn:hover{
    background-color: #209CEE;
    color: white;   
}

footer{
    background-color: #209CEE;
    padding-top: 60px;
}

.socials-btn{
    background-color: #209CEE;
    padding: 10px;
    border-radius: 50%;
    border: 1px  #87cefa solid;
    margin-right: 20px;
}

.socials-img{
    width: 20px;
    height: 20px;
}

#copyright{
    font-weight: 300;
    color: white;
    padding-top: 40px;
    padding-bottom: 70px;
    margin-bottom: 0;
}
